* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-row: 1/3;
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 15px;
}

.header-extras{
    display: flex;
    justify-content: space-between;
}

.header-main{
    display: flex;
    justify-content: space-between;
}

.header ul, 
.sidebar ul{
    list-style: none;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
}